# Copy this file to .env and fill in your real values
# Never commit .env

DB_CONNECTION=Host=...;Port=5432;Database=...;Username=...;Password=...
JWT_SECRET=
RESEND_API_KEY=
CHAPA_SECRET_KEY=
CHAPA_PUBLIC_KEY=
CHAPA_WEBHOOK_SECRET=
GEEZSMS_API_KEY=
PRESCRIPTION_HMAC_SECRET=
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SUPERADMIN_PASSWORD=
